*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus{
    box-shadow: none;
}

:root{
    --primary-color :rgb(23, 219, 98);
    --secondary-color : #ff4c4c;
    --primary-font-color : rgb(245, 245, 245);
    --secondary-font-color : black;
}

::-webkit-scrollbar{
    display: none;
}

.navbar{
    background-color: transparent;
}

.navbar-head{
    display: flex;
    align-items: center;
}

.navbar-brand{
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.navbar-head > .btn{
    color: var(--primary-font-color);
}

.nav-link > i {
    color: var(--primary-font-color);
}

.offcanvas{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}


main{
    height: 200vh;
}


.carousel-item > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.card-section{
    display: flex;
    justify-content: space-between;
}

.card > .card-img-top{
    object-fit: cover;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
}


.card-wrapper {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .card-wrapper::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .scroll-button.left {
    left: 0;
  }
  .scroll-button.right {
    right: 0;
  }

  .discount-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
  }

  .card{
    position:relative;
    transition: transform 0.3s, box-shadow 0.3s;

  }

  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .category{
    background-color: #888;
    text-transform: capitalize;
  }

  .btn-success, .btn-success:hover{
    background-color: var(--primary-color);
    border: none;
  }
  
  .price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
  }
  
  .mrp {
    text-decoration: line-through;
    color: #888;
  }
  .selling-price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .discount {
    color: var(--primary-color);
  }
  .ratings {
    display: flex;
    align-items: center;
  }
  .star {
    font-size: larger;
    color: var(--primary-color);
    margin-right: 2px;
  }